.bottom-navbar {
  position: fixed;
  bottom: 20px; /* J'ai déplacé la marge ici pour décoller la barre du bas */
  left: 50%;
  transform: translateX(-50%); /* Technique parfaite pour centrer un élément fixed */
  width: 85%;
  background: #1a1a1a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.2);
  z-index: 1000;
  border-radius: 10px;
}

a {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
 text-decoration: none;
  color: white; 
  transition: color 0.3s ease; /* Pour que le changement soit fluide et pas brutal */
  cursor: pointer;
}
a:hover {
  color: #007AFF; /* Bleu style Apple */
}
a:active {
  color: #0056b3; /* Un bleu plus foncé quand on appuie */
  transform: scale(0.95);
}
/* On regroupe les styles communs pour être plus efficace */
.Title, .subtext {
  font-family: "Montserrat", sans-serif; /* Correction du 'l' manquant */
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
