.Title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
h2 {
  font-famiy: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.navigation-link {
  text-decorarion: none;
}
.bottom-navbar {
  margin-bottom: 50px;
  width: 93%;
}
